@import 'tailwindcss';

@config "../tailwind.config.js";

body {
  background: hsl(var(--heroui-background));
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
